th {
  max-width: 170px;
  width: 170px;
  height: 15px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.272);
  border-bottom: 3px solid rgba(0, 0, 0, 0.648);
}

td {
  max-width: 170px;
  width: 170px;
  height: 150px;
  padding: 25px 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.272);
  border-bottom: 3px solid rgba(0, 0, 0, 0.648);
}

#title {
  margin: 20px;
}

/* body {
    background-image: url('https://www.innersloth.com/wp-content/uploads/2021/06/hellowhatanicesurprise.png');
} */

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */
.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  font: bold 24px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
